
html {
	background-color: grey;
}
.container {
	margin:0px;
	background-color: #f5f5f5;
	padding: 0px;
	height: 100vh;
	
	margin-top: 30px;
}
	.regga {
		font-family: sans-serif;
		font-variant: small-caps;
		letter-spacing: 0.2px;
	
		margin-bottom: 20px;
		padding-bottom: 30px;
		margin-top: 20px;

	
	
		    background-color: white;
	}

 h2 {
		font-family: sans-serif;
		    text-shadow: 0.5px 0.5px 1px grey;
		        margin-bottom: 20px;


	}

.regga .button {
		margin-top: 20px;
font-size: 1.2em;
		background-color: green;
		color:white;
		font-family: sans-serif;
		font-variant: small-caps;
		        box-shadow: 1px 1px 2px black;
		    letter-spacing: 1.1px;
		    border:0px;
		    border-radius: 5px;

	}

	fieldset {
		text-align: center;
	}
input {
	margin-bottom: 20px;
	text-align: center;
	    box-shadow: 1px 1px 1px grey;
	    color:black;
}

.header {
	padding-top: 0px;
	height: 50px;
	margin:0px;
	padding:0px;
	background-color:#0F145B;
	box-shadow: 2px 0.2px 15px black;
	z-index: 998;
	    display: block;
    position: fixed;
    color:white;

}



.visainlogg {

	
	padding-left:10px;
	color:white;
	height:100%;
	display:flex;
	align-items:center;
}


.loggain {
	
	padding:0px;
	margin-left:0px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	height:100%;
	padding-right:15px;
}

.loggain input {
	margin:2px;
	
	border:0px;
	background-color:F5F5F5;
}

.loggain .button {
	border-radius:15px;
	background-color: #999;
}

button {
	background-color: #999;
}



ul > li  {
	display: inline-block;
	margin-right: 26px;
}

li {
	 font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 1px;
}

li a {
	   font-variant: small-caps;
    
    color:white;
    text-decoration: none;
    list-style-type: none;

}

a:hover {
	    text-decoration: none;
    list-style-type: none;
    color:white;

}

.horahora {
	color:white;
	line-height: 2em;
	margin-bottom: 100px;
	margin-top: 50px;
}

.content {
	background-color: #337ab7;
margin: 0px;
    padding: 0px;
}

.content {
		background-color: #337ab7;
margin: 0px;
    padding: 0px;
}

.footer ul {
	margin-bottom: 50px;
	margin-top: 50px;
}

.footer ul li {
	display: block;


}


.footer {
	margin:0px;
	padding:0px;
	background-color: #0C3E69;

}

.copyright {
	color:white;
	font-size: 0.9em;
	margin-top: 40px;
}

.inloggsruta {
	display: flex;
	justify-content:flex-end;
}

.filehora {
	box-shadow: none;
}

#content2 {
	    background-color:rgba(255,255,255,.15);

}


#content3 {
	background-color:rgba(255,255,255,.15);
}

.sida {
	background-color: #e9ebee;
	margin-top: 30px;
	padding-top: 30px;
}

form h5 {
	    margin: 0px;
    width: 200px;
    margin-bottom: 10px;
    margin-left:  8.33333333%;
}

select {
	margin-bottom: 20px;
	line-height: 20px;
	-webkit-select-appearance: none;
}

#rewards {
	    height: 90px;
}

.profilruta {
	
	margin-top: 30px;
    background-color: white;
  
}

.namnet {
text-align: center;
    color: white;
}

.profilruta li {
	display: block;
	font-variant: normal;
	font-size: 15px;
	color:black;

	margin:0px;
}

.profilruta ul {
	text-align: center;
	background-color: white;
    color: black;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#rubrikens {
	font-variant: small-caps;
    font-size: 2em;
    margin-bottom: 25px;
    color:black;
    text-shadow:none;
}


.error {
	background-color: red;
	text-align: center;
	font-variant: small-caps;
	font-size: 1.5em;
	margin-top: 60px;
	padding:10px;
	border-radius: 10px;
	color:black;
	letter-spacing: 0.5px;
}


#litenTextProfilRuta {

	
}

.litenTextProfilRuta {

   
	    color: white;

    padding: 6px;
    font-size:1em;




  border-radius: 0px;
}


.updateProfile {

background-color: white;
text-align: center;
    height: 25px;
    line-height: 25px;

}

.updateProfile a {
color: black;
}
.profilbild {
	margin-top: 10px;
	margin-bottom: 10px;

    height: 160px;
    width: 160px;
    text-align: center;
   padding: 0px;
   border: 3px solid white;

    
}


img {
	width: 100%;
	margin: 0px;
	height: 100%;
	

}

.updatePP {
	 position: absolute;
    top: 10px;
    right: 7px;
    visibility: hidden;

}


.ppFil {
	margin-top: 0px;
	margin-bottom: 20px;

}


.bilderna {
	border:1px solid black;
	
	height: 150px;
	margin-top: 15px;



}

#bildText {
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: center; 
	height:20%; 
	background:#0F145B;
}


#bildText a {
	color:white;
	font-variant: small-caps;
	letter-spacing: 0.8px;
}

#archive {
	padding-top: 100px;
	background-color: white;
	padding-bottom: 150px;

}

#meny {

	width:200px; 
	margin-left: -200px;
	height: 100vh; 
	position: fixed; 
	z-index: 999; 
	margin-top:50px;
	
	
	-webkit-transition: margin-left 2s;
}

#firstLi {
	margin-top: 30px;
}

.menySlider ul 	{
	padding-left: 20px;
	background: #e9ebee;
	height: 100vh;
}

.menySlider ul li {
	margin-bottom: 20px;
	
}
.menySlider ul li a {
color:black;
}

.kuken li {
	margin-bottom: 30px;
}



#menyBild {

	height: 20px;
	width: 20px;
	z-index: 999;
	    margin-left: 10px;
}


.header {
	background-color: #086b9c;
}

#hej {
	background-color: #1d2129;
	padding-top: 30px; 
	padding-bottom: 30px;
}

.containerBild {


background-image:url(studentbild1.jpg);
height: 100vh;
background-size: 100% 100%;
-webkit-transition: background-image 0.5s;
		transition-timing-function: ease-in-out;
		 -webkit-transition-delay: 0s;

}

#knappar {
		margin-top: 500px;
		


		
		width: 100%;
		display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: center;
	-webkit-align-items: center;

	}


.button1 {
	

	border-radius: 100px;
	background-color: white;
	box-shadow: 0px;
	margin-right: 20px;
	outline: none;
	color: white;
	width: 12px;
	height: 12px;
	border:1px solid black;
}

.button1:active {
	box-shadow: 1px 1px 2px;
	border:0px;

}


.searchform {
	border:3px solid black;
}

#button1{background-color: black;
color: black;}



.menyPP  {
	width: 18px;
	height: 18px;
}



@media (min-width: 800px) { 
.bilderna {
	border:1px solid black;
	
	height: 200px;
	margin-top: 15px;



}

.namnet {
	margin-top: 142px;
    color: white;
}


.updateProfile {
margin-top: 150px;
background-color: white;
text-align: center;

}



.profilNav li {
	display: inline;
	margin-right: 30px;	
	margin-left: 0px;
}

.profilNav {
	padding-left:20px;
}

.kuken {
	padding-left: 35px;
}



.kuken li {
	display: inline;
		margin-right: 35px;	
		margin-left: 0px;
		
		line-height: 120px;
}






 }

@media (max-width: 800px) { 

 #bildText a {
	color:white;
	font-variant: small-caps;
	letter-spacing: 0.8px;
	font-size: 10px;
}

.profilNav li {

	margin-bottom: 25px;
}

.profilNav {
	padding-left: 0px;

}


}
